html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  cursor: default;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
}

.words {
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0%;
  top: calc(50% - 76px);
  transform: translate(-50%; -50%);
  padding: 0;
  margin: auto;
  background-color: #000;
}

.centered {
  overflow-x: scroll;
  width: 100%;
  left: 50%;
  top: calc(50% + 4px);
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: right;
  font-size: 53px;
  font-weight: 700;
  background-color: #000;
  white-space: nowrap;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.computer {
  color: #ff0000;
  padding: 0;
  margin: 0;
  display: inline;
  margin-left: -65.4px;
}

.player {
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline;
  margin-left: -65.4px;
}

.initial {
  padding: 0;
  padding-left: 50%;
  margin: 0;
  display: inline;
  color: #000;
}

.end-fill {
  padding: 0;
  padding-left: 50%;
  margin: 0;
  display: inline;
  color: #000;
}

.input {
  width: 328px;
  height: 53px;
  position: absolute;
  left: calc(50% - 164px);
  top: calc(50% + 22px);
  transform: translate(-50%; -50%);
  padding: 0;
  margin: auto;
  background-color: #aaa;
}

.inputfield {
  margin: 6px;
  border: 6px solid #000;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
}

.submit {
  margin: 6px;
  margin-left: -6px;
  border: 6px solid #000;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Overpass Mono', monospace;
  font-weight: 700;
  transition: all 500ms;
}

.submit:hover {
  background-color: #000;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
}

.modal-content {
  background-color: #fff;
  width: 328px;
  height: auto;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center {
  width: 100%;
  text-align: left;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
